@media screen and (min-width: 670px) {
    header {
        border-bottom: rgb(240, 115, 13) solid 20px;
    }
    
    .header-inlineBox {
        display: inline-block;
    }
    
    .lists-align > li {
        display: inline-block;
        margin: 0 15px;
    }

    .container {
        margin: 10px 20px;
        padding-left: 10px;
        display: inline-block;
        vertical-align: top;
    }

    #open {
        visibility: hidden;
    }


    .footernodes {
        display: inline-block;
        vertical-align: top;
        margin: 20px 40px;
    }
}


@media screen and (max-width: 669px) {
    #open {
        max-width: 50px;
    }
    #menuInlineBox {
        display: none;
         position: fixed;
         top: 30%;
         background-color: rgb(65, 52, 19);
         color: white;
         z-index: 3;
    }

    .lists-align > li {
        margin: 20px 15px;
        list-style: none;
    }

}


.text-content {
    border-top: slateblue solid 3px;
    margin-top: 40px;
}

a {
    text-decoration: slategray;
    color: slategray;
    padding: 5px 10px;
    display: block;
}

a:active {
    background-color: black;
    color: white;
}

p {
    background-color: rgb(245, 239, 188);
    padding: 4px 20px;
}

.wenti > p {
     background-color: rgb(245, 237, 168);
     border: 2px solid rgb(255, 72, 0);
     padding: 10px;
     margin: 5px;
}
.wenti > li:hover {
    box-shadow: 1px 1px rgb(58, 56, 56);
}

.joshushi > p {
    display: inline-block;
    border: yellow solid 2px;
    border-radius: 10px;
    padding: 6px;
    margin: 5px;
}
p:hover {
    box-shadow: 1px 1px 1px 0 rgb(104, 91, 32);
}

.check {
    background-color: rgb(236, 48, 86);
    color: white;
    padding: 5px;
}

.oftenmis {
    background-color: rgba(201, 155, 155, 0.7);
    padding: 8px;
    margin: 20px;
}
.centerline {
    text-decoration: line-through;
    font-style: italic;
}

footer {
    background-color: rgb(243, 149, 115);
    padding: 10px;
}

.footernodes > p {
    background-color: seashell;
    margin: 10px 40px;
    text-align: center;
}

@media screen and (max-width: 810px) {
    .footernodes {
        display: inline-block;
        margin: 10px;
        vertical-align: center;
        font-size: 14px;
    }
}