body {
    background-color: rgb(247, 225, 154);
}

a {
    text-decoration: rgb(83, 144, 146);
    color: rgb(5, 5, 107);
}

p {
    padding: 8px;
    margin: 10px 4px;
    background-color: rgb(248, 247, 232);
    font-size: 25px;
}

.backWhite {
    background-color: rgb(248, 241, 241);
    padding: 5px 10px;
    margin: 40px 5px;
}

#grammarExplain {
    display: none;
}

#gec {
    border: olivedrab solid 2px;
    border-radius: 20px;
    background-color: papayawhip;
    padding: 5px 20px;
    max-width: 150px;
    text-align: center;
}

.kaisetsu {
    color: rgb(102, 102, 5);
    border: sienna solid 2px;
}

.centerline {
    text-decoration-line: line-through;

}

.text-wrapper {
    background-color: rgb(137, 247, 161);
    margin: 30px 10px;
    padding: 10px 5px;
}

.red {
    color: red;
}

#toPart3 {
    background-color: rgb(5, 119, 119);
    color: #fff;
    text-align: center;
    max-width: 300px;
    padding: 5px 10px;
    margin: 10px 0 14px 30px;
}

footer {
    background-color: rgb(247, 138, 14);
    padding: 10px;
}

.footernodes > p {
    background-color: rgb(245, 236, 223);
    margin: 5px 7px;
    padding: 3px 5px;
    font-size: 13px;
}
