@media screen and (min-width: 801px) {
    header {
        background-color: ivory;
        border-bottom: rgb(0, 174, 255) solid 15px;
    }

    .headerTab {
        display: inline-block;
    }
    #headerLists {
        display: inline-block;
    }
    #headerLists > li {
        display: inline-block;
        margin: 5px 10px;
        list-style: none;
    }
    .containers {
        display: inline-block;
        vertical-align: top;
    }

    .kaisetsu {
        color: rgb(102, 102, 5);
        border: sienna solid 2px;
        max-width: 600px;
        text-align: center;
    }
    
    .pointer {
        cursor: pointer;
    }
    #gototop {
        max-width: 100px;
        text-align: center;
        background-color: rgb(70, 150, 153);
        color: #fff;
    }

    .footernodes {
        display: inline-block;
        vertical-align: top;
        margin: 0 40px;
        min-width: 20%;
    }
}