@media screen and (min-width: 1001px) {
    header {
        border-bottom: 13px solid rgb(255, 165, 0);
        margin-left: 1%;
        margin-top: 2px;
        margin-right: 1%;
    }
    
    #tytle {
        font-size: 38px;
        display: inline-block;
        padding-right: 15px;
    }
    
    .header-horizon {
        margin-left: 2%;
        margin-right: 5%;
    }
    
    .header-horizon-p {
        padding: 20px 15px 20px 10px;
        display: inline-block;
        border: solid 3px rgb(17, 15, 37);
         transition-property: border-radius;
         transition-duration: 0.4s;
        color: rgb(29, 41, 7);
    }

    #ASlogan {
        border-bottom: rgb(28, 207, 133) dashed 2px;
        margin: 20px 10px;
        font-size: 28px;
    }

    .slogan {
        background-color: rgba(230, 86, 15, 0.9);
        max-width: 93%;
    }
    
    .header-horizon > p:hover {
        border-radius: 10px;
        background-color: rgb(250, 235, 214);
    }

    #levels-wrapper {
        color: #fff;
        margin-top: 150px;
        margin-left: 55%;
    }

    .mgn-left {
        margin-bottom: 100px;
        background-image: url(../img/jase-bloor-jnUCkT05X3Q-unsplash.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 950px;
    }

    #level {
        font-size: 36px;
        color: rgb(13, 16, 219);
        text-shadow: rgb(245, 242, 232) 1px 1px;
        vertical-align: top;
        padding-top: 200px;
    }

    #dot-none {
        list-style: none;
        margin-top: 80px;
    }

    .level-lists {
        display: inline-block;
        vertical-align: center;
        font-size: 24px;
    }
        
    .level-lists > li {
        font-size: 32px;
        margin: 5px 35px;
        padding: 5px 30px;
        background-color: rgba(34, 49, 63, 0.6);
            
        transition-duration: 0.7s;
        transition-property: transform background;
    }
    
    .level-lists > li:hover {
        transform: translate(20px);
        background: rgba(23, 32, 41, 0.9);
    }

    .appeal {
        background-color: rgba(228, 220, 7, 0.8);
        color: rgb(27, 43, 58);
        padding: 5px 15px;
    }
    .can-container {
        margin: 100px 0 10px 0;
    }
    
    .can-container > p{
        font-size: 24px;
        display: inline-block;
        border: solid 2px rgb(25, 3, 36);
        border-radius: 15px;
        padding: 10px 15px;
        margin: 35px 16px;
        background-color: rgb(5, 98, 168);
        color: #fff;
         transition-property: background;
         transition-duration: 0.5s;
    }
    
    .can-container > p:hover {
        background: rgb(10, 157, 241);
    }
    .traits-lists > li {
        background-color: rgba(34, 49, 63, 0.8);
        font-size: 24px;
        margin-bottom: 2px;
        color: white;
        margin-right: 7%;
        max-width: 1200px;
    }

    #Free {
        width: 50%; height: auto;
    }

    #free-service {
        width: 50%;
    }

    #free-service > li {
        font-size: 22px;
        list-style-position: inside;
        background-color: rgba(245, 255, 250, 0.679);
    }
}
