body {
    background-color: rgb(252, 223, 170);
    padding: 20px;
}

form {
    background-color: rgb(235, 235, 235);
    padding: 20px;
}

/* menu list */
.pointer {
    cursor: pointer;
    width: fit-content;
    padding: 7px 13px;
}

#menuBtn {
    background-color: darkgoldenrod;
}

#menuContain {
    position: fixed;
    top: 28%; left: 35%;
    z-index: 4;
    background-color: rgb(255, 250, 240);
    box-shadow: rgb(192, 188, 181) 3px 3px;
    padding: 8px 10px;
    border-radius: 5px;
    list-style-position: inside;
    display: none;
}

#x {
    background-color: rgb(225, 248, 248);
    color: rgb(153, 152, 152);
}
#x:hover {
    color: rgb(232, 69, 69);
}

.menu-lists-cover > li {
    margin: 18px 10px;
}
/*  */

#seeHints {
    background-color: rgb(165, 252, 165);
    padding-top: 10px 20px;
    border-radius: 20px;
    width: 260px;
    text-align: center;
}

#seeResult {
    padding: 10px 15px;
    border-radius: 25px;
    background-color: rgb(190, 240, 240);
    width: 250px;
    text-align: center;
}

#result {
    display: none;
}

#hintLists {
    display: none;
}

#approved, #failed {
    display: none;
}