body {
    margin: 0 15px;
}

a {
    color: indigo;
    text-decoration: indigo solid 1px;
    margin-bottom: 10px;
}
a:hover {
    border-bottom: indigo solid 1px;
}

div {
    padding: 10px 15px;
    margin: 20px 5px;
}

p {
    padding: 5px 10px;
}

.important > p {
    background-color: rgb(196, 197, 243);
    color: rgb(163, 10, 10);
    margin: 20px 50px;
}

.pointer {
    cursor: pointer;
    position: relative;
    padding: 15px 20px;
    text-align: center;
    border-radius: 10px;
    width: fit-content; height: auto;
}

.greenborder {
    border: rgb(0, 128, 0) 7px solid;
}

#afterCorrect {
    display: none;
}