@media screen and (min-width: 701px) {
    header {
        background-color: rgb(255, 140, 0);
        margin-top: 50px;
    }

    .iblock {
        display: inline-block;
    }

    .catch {
        min-height: 450px;
    }

    #teachingAreas > p {
        display: inline-block;
    }

    #llwphoto {
        background-image: url(../img/masaaki-komori-qwPSnBvdht.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 1200px;
    }

    .inline-block {
        display: inline-block;
        vertical-align: top;
    }

    pre {
        font-size: 19px;
        background-color: aqua;
        padding: 10px;
    }
    
}

@media screen and (max-width: 700px) {
    header > h1 {
        border-bottom: darkorange 10px solid;
    }

    header {
        margin-top: 80px;
    }

    pre {
        font-size: 12px;
        background-color: aqua;
        padding: 10px;
    }
    
}