table {
    padding: 8px;
    background-color: rgb(232, 242, 250);
    border-radius: 5px;
}

th {
    border: darkgreen solid 1px;
    padding: 4px 8px;
    margin: 1px;
}

tr {
    border: rgb(12, 143, 136) 1px solid;
}

td {
    padding: 4px 8px;
    border-bottom: rgb(94, 45, 8) 1px solid;
}

#table1 > tr {
    border: darkgreen solid 1px;
}

#table2 > tr {
    border: rgb(55, 226, 209) solid 2px;
}

#table2 >td:hover {
    background-color: rgb(143, 46, 192);
}

#table4 > td:hover {
    background-color: rgb(247, 171, 247);
}