@media screen and (min-width: 681px) {
    #plusB {
        display: none;
    }
    #headerDiv {
        display: inline-block;
    }
    .header-div {
        display: inline-block;
        margin-left: 45px;
        max-width: 800px;
        min-width: 300px;
        max-height: 150px;
    }
    .lists-align > li{
        display: inline-block;
        list-style: none;
        padding-left: 3%;
        padding-bottom: 3px;
        min-width: 25%;
    }

    #smallLists {
        display: none;
    }

    .back-color-white {
        max-width: 700px;
    }

    .back-color-white > p:hover {
       box-shadow: 2px 3px  rgb(5, 119, 85);
   }
    
    .content-wrapper {
        display: inline-block;
         vertical-align: top;
        margin: 10px 30px 10px 30px;
        max-width: 600px;
    }

    .footernodes {
        background-color: rgb(240, 237, 233);
        padding: 5px 10px;
        margin: 5px 10px;
        display: inline-block;
        vertical-align: top;
    }

    .footernodes > p {
        margin: 6px 8px;
        font-size: 13px;
    }
}