a {
    text-decoration: none;
    border-bottom: rgb(243, 45, 10) solid 1px;
    color: rgb(6, 32, 24);
}

#tytle {
    bottom: 15px;
    position: relative;
}

header {
    background-color: rgb(243, 243, 181);
    padding-left: 10px;
}

body {
    background-color: rgb(253, 142, 175);
}

div {
    padding: 10px;
    border-radius: 10px;
}

.content-wrapper {
    background-color: rgb(252, 102, 48);
}

.back-color-white {
    background-color: rgb(255, 255, 240);
    padding: 5px;
    margin: 30px 0;
}
.back-color-white > p {
    border-radius: 4px;
    border: 2px solid #333;
    border-width: cover;
    background-color: rgb(32, 204, 132);
    padding: 5px 10px;
    margin: 20px 5px;
}

#grammarExplain {
    max-width: 420px;
    margin: 20px 0 30px 10px;
    padding: 5px 10px;
    background-color: rgb(243, 233, 219);
}

.grammarLists {
    background-color: gold;
    margin: 10px 130px 30px 10px;
}

.sAccd {
    color: rgb(223, 222, 217);
    cursor: pointer;
}

#hideAccordion, .accContent {
    display: none;
}

ol >li {
    margin: 5px 3px;
}

ol >li:hover {
    border-bottom: rgb(252, 71, 5) solid 2px;
}

#gototop {
    background-color: gainsboro;
    border-radius: 5px;
}

footer {
    background-color: rgb(252, 142, 8);
    margin-top: 30px;
    padding: 10px;
}