@media screen and (max-width: 1000px) {
    header {
        border-bottom: none;
        margin-left: 1%;
        margin-top: 2px;
        margin-right: 1%;
    }
    
    #tytle {
        border-bottom: 13px solid rgb(255, 165, 0);
        font-size: 38px;
        padding-right: 15px;
    }
    
    .header-horizon {
        margin-left: 2%;
        margin-right: 5%;
    }
    
    .header-horizon-p {
        padding: 7px 15px;
        display: inline-block;
        border: solid 3px rgb(17, 15, 37);
         transition-property: border-radius;
         transition-duration: 0.4s;
        color: rgb(29, 41, 7);
    }
    .slogan {
        background-color: rgba(230, 86, 15, 0.9);
        max-width: 99%;
    }
    #kyotop {
        float: right;
    }
    #levels-wrapper {
        color: #fff;
        margin-top: 10px;
        padding: 10px 20px;
    }
    .mgn-left {
        margin-bottom: 100px;
    }
    .level-lists > li {
        display: inline-block;
        font-size: 15px;
        margin: 5px 20px;
        padding: 5px 20px;
        background-color: rgba(34, 49, 63, 0.6);
    }
    #kyotop {
        float: none;
        width: 300px;
        height: auto;
    }
    .appeal {
        background-color: rgba(228, 220, 7, 0.8);
        color: rgb(14, 22, 29);
        padding: 5px 15px;
    }
    .can-container > p{
        font-size: 15px;
        display: inline-block;
        border: solid 2px rgb(25, 3, 36);
        border-radius: 15px;
        padding: 6px 10px;
        margin: 2px 4px;
        background-color: rgb(5, 98, 168);
        color: #fff;
    }

    .traits-lists > li {
        background-color: rgba(34, 49, 63, 0.6);
        margin-bottom: 1px;
        font-size: 18px;
        color: white;
        margin-right: 7%;
    }
}

@media screen and (max-width: 680px) {
    body {
        font-size: 16px;
    }
    header {
        margin-left: 1%;
        margin-top: 2px;
        margin-right: 1%;
    }
    
    #tytle {
        border-bottom: 13px solid rgb(255, 165, 0);
        font-size: 22px;
        display: inline-block;
        padding-right: 15px;
    }
    
    .header-horizon {
        margin-left: 2%;
        margin-right: 5%;
    }
    
    .header-horizon-p {
        padding: 5px 0 5px 10px;
        display: block;
        border: none;
        color: rgb(29, 41, 7);
    }

    #ASlogan {
        border-bottom: rgb(28, 207, 133) dashed 2px;
        margin: 20px 10px;
        font-size: 18px;
    }
    .mgn-left {
        margin-bottom: 20px;
        background-image: none;
    }
    .slogan {
        background-color: rgba(230, 86, 15, 0.9);
        max-width: 99%;
    }
    #dot-none {
        list-style: none;
        margin: 15px 1px 3px 0px;
    }

    #level {
        font-size: 13px;
        color: rgb(248, 45, 106);
        text-shadow: rgb(248, 237, 243) 1px 1px;
        vertical-align: top;
        padding-top: 10px;
        margin-top: 60px;
    }

    .level-lists {
        margin: 3px;
    }

    .level-lists > li {
        display: inline-block;
        font-size: 14px;
        margin: 1px;
        padding: 5px 10px;
        background-color: rgba(34, 49, 63, 0.6);
    }

    .appeal {
        background-color: rgba(228, 220, 7, 0.8);
        color: rgba(34, 49, 63);
        text-align: center;
    }

    .can-container {
        margin: 50px 0 10px 0;
    }
    
    .can-container > p{
        font-size: 13px;
        display: inline-block;
        border: solid 2px rgb(25, 3, 36);
        border-radius: 15px;
        padding: 6px 10px;
        margin: 2px 4px;
        background-color: rgb(5, 98, 168);
        color: #fff;
    }

    .traits-lists > li {
        background-color: rgba(34, 49, 63, 0.6);
        margin-bottom: 1px;
        font-size: 12px;
        color: white;
        margin-right: 7%;
    }
    p {
        font-size: 14px;
    }

    #free-service > li {
        font-size: 15px;
    }
}