header {
    border-bottom: rgb(241, 128, 22) solid 4px;
}

a {
    text-decoration: black;
    color: rgb(3, 3, 3);
}

@media screen and (min-width: 670px) {
    a:hover {
        color: rgb(165, 42, 42);
        font-weight: 900;
    }
}

.header-inlineBox {
     display: inline-block;
     border-radius: 5px;
     background-color: rgb(250, 245, 240);
}

.lists-align > li {
    display: inline-block;
}

.container {
    margin: 10px 20px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
}

.text-content {
    border-top: rgb(106, 90, 205) solid 3px;
    margin-top: 40px;
}

.wenti > p {
     background-color: rgb(245, 237, 168);
     border: 2px solid rgb(255, 72, 0);
     padding: 10px;
     margin: 5px;
}

.lists-introduction {
    font-weight: 25px;
    border: rgb(166, 221, 57) solid 2px;
    border-radius: 4px;
}

footer {
    background-color: rgb(250, 196, 176);
}

.footernodes {
    display: inline-block;
    margin: 20px;
}