@media screen and (max-width: 680px) {
    #tytle {
        margin-top: 20px;
    }
    #plusB {
          display: block;
          border: olive solid 2px;
          background-color: rgb(231, 217, 15);
          border-radius: 20px;
          cursor: pointer;
          max-width: 100px;
          text-align: center;
          padding: 9px 16px;
          margin-right: 20%;
    }
    #headerDiv {
        display: none;
    }

    #headerLists {
        display: none;
        background-color: rgb(245, 230, 208);
        padding: 5px 15px;
        text-align: center;
        max-width: 200px;
    }

    #smallLists {
        display: none;
        background-color: plum;
        z-index: 10;
        padding: 20px;
        margin-right: 20%;
    }

    .lists-align > li {
        margin-bottom: 6px;
    }

    .back-color-white {
        max-width: 500px;
    }

    .footernodes > p {
        margin: 6px 8px;
        background-color: rgb(255, 250, 240);
        padding: 5px 10px;
        font-size: 13px;
    }
}