body {
    background-color: rgb(253, 221, 221);
}

a {
    text-decoration: rgb(47, 58, 70);
    color: rgb(206, 227, 248);
    background-color: rgba(38, 59, 59, 0.782);
    padding: 5px 10px;
    display: block;
}

a:active {
    background-color: black;
    color: white;
}

div {
    margin: 10px 15px;
    padding: 10px 15px;
}

span {
    background-color: rgb(245, 239, 188);
    padding: 4px 20px;
}

form {
    background-color: rgb(191, 247, 119);
    padding: 10px;
    border-radius: 8px;
}

form > p {
    background-color: rgb(243, 245, 212);
    padding-bottom: 50px;
    width: 140px;
}

input {
    background-color: rgb(218, 214, 214);
}

.space {
    display: block;
}

#seeAnswer {
    background-color: rgb(46, 78, 78);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px 80px;
    border-radius: 5px;
    box-shadow: rgb(31, 53, 53) 1px 2px 1px;
    cursor: pointer;
}

.resultStyle {
    background-color: rgb(247, 242, 235);
}

/* result area */
#result, #approved, #failed {
    display: none;
}

#failed > p {
    background-color: rgb(13, 52, 136);
    color: #fff;
}
/* result area end */

footer {
    background-color: rgb(250, 164, 4);
    padding: 8px;
}

.footernodes > p {
    background-color: #fff;
    padding: 2px;
}