header {
    background-color: rgb(121, 163, 240);
    color: #fff;
    padding: 10px;
}
#forHome {
    margin-top: 10px;
    color: rgb(6, 6, 114);
}

a {
    background-color: rgb(114, 110, 110);
    color: #fff;
    text-align: center;
    text-decoration: wavy;
    padding: 4px 10px;
}
a:hover {
    color: rgb(255, 248, 47);
}

#title {
    border-bottom: maroon dashed 8px;
    margin-bottom: 20px;
}

.text-container > p {
    padding: 10px 15px;
    line-height: 28px;
    text-indent: 1em;
}

ul {
    list-style-position: inside;
    background-color: rgb(242, 242, 242);
    padding: 20px 25px;
}

@media screen and (min-width: 671px) {
    .iblock {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px;
    }
    pre {
        font-size: 18px;
        font-family: sans-serif;
    }
    .text-container {
        padding: 15px;
        margin: auto;
        width: 60%;
        font-size: 16px;
    }
    .text-container > p:hover {
        border: chocolate 2px dashed;
        border-radius: 3px;
    }
}

@media screen and (max-width: 670px) {
    .text-container {
        padding: 10px;
        margin: 5px;
        max-width: 400px;
        font-size: 12px;
    }
    
    .blogsLists > li {
    line-height: 90px;
    padding: 20px;
}
}
