header {
    background-color: rgb(121, 163, 240);
    color: #fff;
    padding: 10px;
}
.iblock {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}
#menuBtn {
    position: relative;
    top: 10px;
    border: rgb(124, 103, 48) dashed 2px;
    padding: 5px 10px;  
}
.pointer {
    cursor: pointer;
}

#menuLists {
    display: none;
}
.menuListsUl {
    list-style: none;
    border: #333 solid 2px;
}

.blogsLists {
    background-color: rgb(241, 241, 250);
    padding: 2%; margin: 3%;
}