body {
    margin-top: 30px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #fff;
    background-color: rgb(52, 9, 58);
    margin: 20px;
    padding: 8px 10px;
}


#click {
    background-color: rgb(15, 167, 7);
    box-shadow: rgb(4, 71, 2) 2px 2px;
    border-radius: 28px;
    position: relative;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
#click:hover {
    background-color: rgb(93, 201, 5);
}
#click:active {
    box-shadow: none;
    top: 2px; left: 2px;
}


@media screen and (min-width: 711px) {
    .container {
    width: 300px;
    margin: auto;
    padding: 20px 30px;
    border-radius: 10px;
    top: 200px;
    background-color: rgba(255, 244, 236, 0.809);
   }
}

@media screen and (max-width: 710px) {
    .container {
    width: 300px;
    margin: auto;
    padding: 20px 30px;
    border-radius: 10px;
    top: 200px;
    background-color: rgba(255, 244, 236, 0.6);
   }
}

.command {
    font-size: 12px;
    cursor: pointer;
    color: blue;
}

.info {
    color: #bbb;
    font-size: 12px;
    font-weight: normal;
}

.back a {
    color: rgb(63, 62, 62);
}
.back a:hover {
    color: rgb(175, 172, 172);
}

h2 {
    border: 4px solid rgb(104, 5, 5);
    border-radius: 15px;
    padding: 5px 10px;
    width: fit-content;
    margin: 20px;
}
