@media screen and (min-width: 670px) {

    #screenl {
        display: none;
    }

    .content-float {
        display: inline-block;
        margin: 0 10px 10px 50px;
        vertical-align: top;
    }

    .right-margin {
        padding: 20px;
    }

    .lists-align > li{
        display: inline-block;
        list-style: none;
        padding-left: 20px;
    }

    /* modal */
    #hideModalp {
        display: none;
        background-color: rgb(233, 231, 215);
        padding: 10px 25px;
        margin-left: 20px;
         border-radius: 10px;
    }
    #showModalp {
        background-color: rgb(58, 58, 54);
        color: white;
         display: inline;
        padding: 10px 20px;
    }
    .header-lists {
        display: none;
        padding: 30px 50px;
        background-color: rgb(192, 155, 192);
        color: white;
        /* position */
        position: absolute;
        top: 7px;
        left: 39%;
        /* border */
        border: 2px solid rgb(43, 48, 48);
        border-radius: 13px;
        box-shadow: 0 4px rgb(51, 41, 53);
    }
}
