.hidden-span {
    visibility: hidden;
}


.container {
    margin: 30px 10px 10px 40px;
    width: 500px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    /* 親要素menuに対してli要素を横並びにしてあげる */
    display: flex;
}

.menu li a {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px 0;
    color: #333;
    text-decoration: none;

    border-radius: 4px;
}

.menu li a.active {
    /* cssの変数宣言は必ず--から始める */
    --colorBlack: #333;
    background: var(--colorBlack);
    color: #fff;
}
/* activeではないli要素に対してhoverが効くようにする */
.menu li a:not(.active):hover {
    opacity: 0.5;
    transition: opacity 0.4s;
}

.content.active {
    background: #333;
    color: #fff;
    min-height: 150px;
    padding: 12px;
    /* activeのcontent要素は表示状態にしたい */
    display: block;
}

/* active以外のcontent要素を非表示にする */
.content {
    display: none;
}

/* search area */
.search-area input[type="text"] {
    padding: 20px 20px 15px 0;
    font-size: 16px;
    border: 1px solid #D6D6D6;
    border-radius: 25px;
    margin-top: 30px;
 }
 
 .search-area input[type="text"]:focus {
    background-color: #F9F9F9;
    border-radius: 25px;
 }
 
 .search-result {
    margin-top: 40px;
 }
 
 .search-result__hit-num span {
    display: inline-block;
    margin-right: 15px;
    padding: 5px;
    background-color: #f2f2f2;
 }