:root {
    --my-hue: 100;
}
/* リンクの文字のデフォルト色を黒にする */
.color-black {
    text-decoration: none;
    color: #333;
}

body {
    font-size: 14px;
    background-color: rgb(77, 241, 99);
}

h2 {
    padding: 5px 10px;
    margin: 1px;
}

a {
    text-decoration: none;
    color: rgb(2, 2, 99);
}
a:hover {
    text-decoration: underline solid 1px #333;
    color: rgb(236, 193, 135);
}

.header-back-color {
    background-color: rgb(252, 249, 218);
}

.header-inliblo {
    display: inline-block;
    margin-left: 44px;
}


.headModalBtn {
    cursor: pointer;
}

.search-area {
    margin-top: 70px;
}

.back-color-white {
    background-color: rgb(233, 212, 25);
    padding: 5px;
    margin: 30px 0;
}
.back-color-white > p {
    border-radius: 4px;
    border: 2px solid #333;
    border-width: cover;
    background-color: rgb(240, 245, 241);
    padding: 8px 15px;
    margin: 30px 15px;
    box-shadow: 2px 3px  #494b49;
    color: rgb(32, 26, 6);
    text-align: center;
}

.back-color-white > p:hover {
    background-color: rgb(12, 51, 39);
}

.back-color-white p a {
    display: block;
}


footer {
    margin: 30px 0 0 0;
    padding: 25px;
    position: relative;
    background-color: rgb(247, 136, 9);
}
.footernodes > p {
    background-color: rgb(224, 250, 224);
    padding: 5px;
    margin: 5px 10px;
}