body {
    padding: 10px 15px;
    background-color: rgb(236, 229, 119);
}

header {
    border-bottom: rgb(255, 149, 20) 10px solid;
    padding: 10px 20px;
}

ul > li {
    margin: 10px;
}

#menuBtn {
    border: darkslategray solid 1px;
    padding: 7px 21px;
    width: 60px;
    border-radius: 7px;
    background-color: rgb(119, 117, 117);
    color: #fff;
}
#menuBtn:hover {
    background-color: rgb(150, 147, 147);
    color: rgb(236, 82, 113);
}

.pointer {
    cursor: pointer;
    text-align: center;
    user-select: none;
}

#topMenuContainer {
    position: fixed;
    top: 28%; left: 35%;
    z-index: 4;
    background-color: rgb(255, 250, 240);
    box-shadow: rgb(192, 188, 181) 3px 3px;
    padding: 8px 10px;
    border-radius: 5px;
    list-style-position: inside;
    display: none;
}


ul {
    padding: 10px 0;
}

.space {
    margin-right: 30px;
}


h5 {
    margin-top: 60px; margin-bottom: 30px;
    border-top: rgb(44, 44, 43) solid 3px;
}

#seeAnswer {
    background-color: rgb(46, 78, 78);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 70px 80px;
    width: 250px;
    border-radius: 5px;
    box-shadow: rgb(31, 53, 53) 1px 2px 1px;
    cursor: pointer;
}

.resultStyle {
    background-color: rgb(247, 242, 235);
    width: fit-content;
    padding: 15px 30px;
}

/* result area */
#result, #approved, #failed {
    display: none;
}